
*.ini
*.log
.metadata/.lock
*.gen
.metadata/.mylyn/.taskListIndex/segments_1
*.index
*.prefs
*.tii
*.lock
*.fdx
*.frq
*.nrm
*.fdt
*.fnm
*.tis
*.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
*.setup
*.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
*.zip
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
*.prx
*.dat
*.txt
*.snap
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.properties
*.resources
*.launch
*.xmi
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
FSE_ChatRoom/.DS_Store
FSE_ChatRoom/src/.DS_Store
RemoteSystemsTempFiles/.project
*.mark
*.ser
*.history
*.node
.DS_Store
.DS_Store
.DS_Store
